#container{
    position: relative;
    left: 18%;    
    width: 800px;
    height: 500px;
    background-image: url("../pic/pngwave10.png");
    background-position: center;
    background-size: cover;
}
#eggbox{
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 200px;
}
#bird{
    position: absolute;
    top: -7px;
}

#bird img{
    position: relative;
}
#bird1{
    position: absolute;
    top: -7px;
}
#bird1 img{
    position: relative;
    transform: scaleX(-1);
    left: 600px;
}
#eggbox img{
    width: 100px;
    height: 100px;
    bottom: 0px;
    
}
#egg {
    position: absolute;
    top: -60px;
    width: 100%;
}
#egg img{
    position: relative;
    width: 40px;
}
#henpic{
    position: absolute;
    bottom:50px ;
    right: 10px;

}
#henpic img{
    width: 140px;
}
#play-score_buttons{
    position: relative;
    width: 100%;
    height: 100px;
    top: 200px;
}

#pause-play_container{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50px;
    background-color: #03A9F4;
    border: black solid 4px;
}
#pause-play_container img{
    position: relative;
    display: none;
}

#pause-play_container:hover{
    cursor: pointer;
    
    border:white solid 4px;
    
}
#welcomeuser{
    position: absolute;
    right: 195px;
    top: 130px;
}


#playgame1{
    position: absolute;
    right: 317px;
    top: 190px;
}
/*
#playgame1 img{
    width: 140px;
    height: 140px;
}
*/
#score_container{
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 10px;
}
#score_container label{
    font-size: x-large;
    font-weight: bolder;
    color: honeydew;
    background-color: #03A9F4;
    padding: 0.01em 0.9em;
}
#timer{
    position: absolute;
    display: inline-block;
    left: 300px;
    top: 10px;
}
#minutetime {
    font-size: x-large;
    font-weight: bolder;
    color: honeydew;
    background-color: #03A9F4;
    padding: 0.01em 0.9em;
}
#not{
    font-size: 25pt;
    font-weight: bolder;
    color: azure;
}

#secondtime{

    font-size: x-large;
    font-weight: bolder;
    color: honeydew;
    background-color: #03A9F4;
    padding: 0.01em 0.9em;
}
#playgame{
    background-color: #03A9F4;
    width: 150px;
    font-size: x-large;
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.15s;
    }
#playgame:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
    cursor: pointer;
    }
#welcomeuser label{
        font-size: x-large;
        font-weight: bolder;
        color: honeydew;
        background-color:#03A9F4 ;
        padding:0.46em 1.6em;
  
        box-sizing: border-box;
}
